* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	background: rgb(0, 0, 0);
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

#maze_img{
	display: none;
	position: relative;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        padding: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/* ***************************************************************************/
/*  .trans -> style for the profile and the trans. background  */
.trans
{
	display: none;
	position: fixed;
    padding: 30px;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#roominput{
	background: none;
	width: 20%;
	height: 50px;
	border: 3px solid #000000;
	resize: none;
	font-size: 1.5vw;
	color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	display: block;
	margin: auto;
}

/* LOADER */

#loader {
  position: absolute;
  left: 51%;
  top: 60%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* ********************** */

.content{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	top: 0px;
}

.canvas_container .menu{
	width: 50px;
	height: 50px;
	left: 10px;
	top: 10px;
	cursor: pointer;
	border-radius: 50%;
	padding: 10px;
	position: absolute;
	background: rgba(255,255,255,0.5); 

}

.personalInfo {
	position: absolute;
	height: 100vh;
	background: rgba(255,255,255,0.2); 
	padding: 25px;
	box-shadow: 0px 10px 18px 2px rgba(0,0,0,0.5);
	width: 20%;
}

.personalInfo p{
	font-size: 1.5vw;
	text-align: center;
	color: white;
}

.personalInfo .pic{
	display: flex;
	margin-top: 10px;
}

.personalInfo #gn{
	margin-top: 20px;
	text-align: center;
	font-size: 1vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	background: rgba(255,255,255,0.5); 
	vertical-align: middle;
	padding: 5px;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
}

.personalInfo .pic img{
	width: 40%;
	height: 40%;
	margin: 20px;
	position: static;
	overflow: auto;
	margin: auto;
}

.personalInfo .pic img:hover{
	border-radius: 50%;
	transition: 0.5s;
	background-color: rgba(100, 100, 100, 0.25);
}

.personalInfo .profileOptions {
	display: flex;
	margin-top: 20px;
	position: relative;
	width: 100%;
	font-size: 1vw;
}

.personalInfo .profileOptions button {
	width: 30%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: relative;
    background-color: #707eb2;
    border-radius: 10%;
    color: #FFFFFF;
    padding: 5px 0px;
    margin: 2%;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.newname{
	display: none;
	padding: 10px;
	margin: 10px 2%;
	z-index: 20;
}

.accept{
	display: none;
	padding: 10px;
	margin: 10px 2%;
	position: relative;
    background-color: #707eb2;
    border-radius: 10%;
    color: #FFFFFF;
    padding: 5px 15px;
    margin: 0 3%;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.change_name
{
	display: none;
	position: fixed;
	width: 16%;
    padding: 30px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 20;
}

.personalInfo .avatars{
	display: none;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 50px;
    width: 16%;
	height: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    overflow: scroll;
    z-index: 20;
}

/* todo este dropdown es para los avatares*/
.dropdown {
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    z-index: 3;
    max-width: 27%;
    margin-left: 9px;
}

.dropdown img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.dropdown img:hover{
	background-color: #fbfbfb;
	border-radius: 50%;
	transition: 0.5s;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); 
}

/* hasta aquí */

/*******************************************************/

/* CHAT BOX */

.chat{
	display: none;
	position: absolute;
	width: 20%;
	height: 100vh;
	background: rgba(255,255,255,0.2); 
	padding: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	float: left;
	z-index: 1000;
}

.msgs{
	padding: 10px;
	width: 100%;
	height: 85vh;
	background: rgba(255,255,255,0.2); 
	overflow-x: hidden;
	overflow-y: scroll;
}

.msg{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.private .message{
	background: red;
	max-width: 80%;
	font-size: 15vw;
}

.msg .avatar{
	width: 17%;
	height: 17%;
	border-radius: 50%;
}

.avatar img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.avatar:hover {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.msg .myavatar{
	width: 17%;
	height: 17%;
	border-radius: 50%;
}

.myavatar img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.msg .message{
	padding: 8px 8px;
	margin: 5px 5px 0;
	border-radius: 10px;
	color: white;
	font-size: 0.9vw;
	word-wrap: break-word;
}

.received .message{
	background: #424242;
	max-width: 80%;
}

.guest_console{
	display: none;
}

.sent .message{
	background: #0B6121;
	max-width: 80%;
	order: -1;
	margin-left: auto;
}

/********* Enviados privado****************/

.sent_private .message{
	background: red;
	order: -1;
	margin-left: auto;
	max-width: 80%;
}

.sent_private .guest_console{
	background: red;
	order: -1;
	margin-left: auto;
	max-width: 80%;
	display: block;

	padding: 8px 8px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: white;
	font-size: 0.9vw;
	word-wrap: break-word;
}


/****  INPUT Y OPCIONES DE ENVIO *********************************************/

.chatinput{
	margin-top: 20px;
	width: 100%;
	display: flex;
}

.chatinput textarea{
	background: rgba(220,220,220,0.8); 
	width: 80%;
	height: 30px;
	border: 2px solid #eee;
	resize: none;
	padding: 2%;
	font-size: 1vw;
	color: #000000;
	margin-right: 15px;
}

.chatinput img {
    width: 13%;
    height: 13%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    float: right;
    padding-top: 5px;
}

.chatinput img:active {
	border-style: inset;
    background-color: #ccc;
}

.uppercase{
	display: flex;
	margin-top: 10px;
	margin-left: 2px;
}

.uppercase p{
	font-size: 1vw;
	color: #ffffff;
}

.uppercase .ucselection{
	margin: auto;
}

.switch {
  position: relative;
  width: 50px;
  height: 30px;
  margin-left: 1.25vw;
  bottom: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #42f44e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*******************************************************/

/* MENU BOX */

.canvas_container img:hover, .canvas_container img:focus {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.85); 
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.6vw;
    color: #818181;
    display: block;
    transition: 0.3s;
    min-width: 500px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 38px;
}

#main {
    transition: margin-left .5s;
    top: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*******************************************************/

/* PROFILE BOX */

#image_avatar img{ /* zoom del avatar de la otra persona */
	display: block;
	margin: auto;
}

#contact_name{
    padding: 12px 16px;
    display: block;
    font-size: 2vw;
    text-align: center;
    color: #818181;
}

#contact_name:hover{
    color: white;
    transition: 0.5s;
}

/* *************************************** */

/*  CONTACTS   */
#connected{
	height: 40vh;
	padding: 25px;
	width: 20%;
	margin-top: 18.9%;
	position: absolute;
}

#connected p{
	text-align: center;
	color: white;
}

#con_title{
	font-size: 1.5vw;
}

.people{
	overflow-y: scroll;
}

.user {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	margin-top: 20px;
}

.user .avatar{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}

.user p{
	padding: 10px 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	border-color: #eee;
	border-style: outset;
	font-size: 1vw;
	word-wrap: break-word;
	background: rgba(255,255,255,0.25); 
}

/* *************************************** */

/* PRACTICA 2 */

.screen{
	display: flex;
	top: 0px;
}

.rest_org{
	display: block;
	position: absolute;
	width: 100%;
	margin-left: 80%; 
}

.canvas_container{
	display: block;
	width: 100%;
	height: 100vh;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 0 auto;
	position: static;
	top: 0px;
}

#canvas_info{
	padding: 0;
    margin: auto;
    display: table-column;
	width: 50%;
	top: 15vh;
	left: 25%;
	height: 350px;
	position: absolute;
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.3);
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

#canvas_info a{
	padding-left: 10px;
    text-decoration: none;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    transition: 0.5s;
    width: 6%;
}

#canvas_info a:hover{
    color: rgba(255, 255, 255, 1);
}

#canvas_info p{
    border: none;
	width: 95%;
	height: 28vh;
	resize: none;
	padding: 1%;
	font-size: 1vw;
	margin-left: 15px;
	margin-top: 10px;
	overflow-y: scroll;
}

#canvas_info textarea{
    background: rgba(255,255,255,0.5); 
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
    border: none;
	width: 50%;
	height: 30px;
	resize: none;
	padding: 1%;
	font-size: 1vw;
	margin-top: 10px;
	margin-left: 15px;
}

#controller {
	width: 125px;
	height: 125px;
	margin-right: 5%;
	right:0;
	bottom: 50px;
	border-radius: 35%;
	position: absolute;
	background: rgba(255,255,255,0.25); 
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#controller:hover{
	background: rgba(255,255,255,0.75); 
}

.canvas_container .vbutton{
	width: 2.15%;
	height: 40px;
	margin-right: 8.25vw;
	right:0;
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.canvas_container .vbutton:active{
	background: rgba(0,0,0,0.55);
}

#up {
	bottom: 130px;
}

#down {
	bottom: 55px;
}

.canvas_container .hbutton{
	width: 2.55%;
	height: 35px;
	bottom: 95px;
	right:0;
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.canvas_container .hbutton:active{
	background: rgba(0,0,0,0.55);
}

#right {
	margin-right: 5vw;
}
#left {
	margin-right: 11vw;
}

